<h3>Collections</h3>


<pre>

  <div id="comments">
    <%= link_to 'Daily Collection', 'daily_collection', class: "btn btn-info", method: 'get', remote: true %>
  </div>
</pre>

<pre>
  <%= link_to 'Monthly Collection', 'monthly_collection', class: "btn btn-info", method: 'get' %>
  <p></p>
</pre>

<pre>
  <%= link_to 'Yearly Collection', 'yearly_collection', class: "btn btn-info", method: 'get' %>
  <p></p>
</pre>