<blockquote>
<h3>Collections</h3>
</blockquote>
<br>
<pre>
  <%= link_to 'Daily Collection', 'daily_collection', class: "btn btn-info", method: 'get', remote: true %>
  <div id="price_daily">
  </div>
</pre>

<pre>
  <%= link_to 'Monthly Collection', 'monthly_collection', class: "btn btn-info", method: 'get', remote: true %>
  <div id="price_monthly">
  </div>
</pre>

<pre>
  <%= link_to 'Yearly Collection', 'yearly_collection', class: "btn btn-info", method: 'get', remote: true %>
  <div id="price_yearly">
  </div>
</pre>